html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #141414;
    color: #fff;
}

.showroom-container {
    padding: 20px;
}

.showroom-item {
    margin-bottom: 20px;
}

    .showroom-item img {
        width: 100%;
        height: auto;
        margin-bottom: 40px;
    }

.showroom-text {
    margin-top: 10px;
    margin-bottom: 20px;
}

.font-weight-bold-custom {
    font-weight: 600;
}

.navbar-brand {
    font-weight: bold;
    margin-right: 20px !important;
}

.navbar-nav .nav-link {
    color: #000 !important; 
    font-weight: bold;
    transition: color 0.3s ease; 
}

    .navbar-nav .nav-link:hover {
        color: #666 !important; 
    }

.bg-image {
    background-image: url('https://www.hdcarwallpapers.com/walls/mercedes_benz_cls_interior-HD.jpg');
    background-size: cover;
    background-position: center;
    padding: 25px 0;
}

.custom-img {
    height: 300px;
    object-fit: cover;
}

.col-md-6 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    height: 100%;
}

.row.mt-5 {
    display: flex;
}

.col-md-6 .mt-auto {
    margin-top: auto; 
}



