@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center bg-image">
    <h1 class="display-4 font-weight-bold-custom text-white">Benvenuti alla Concessionaria Mercedes AZE</h1>
    <p class="text-white">Scopri la nostra gamma di veicoli di lusso e sportivi.</p>
    <div class="d-flex justify-content-center">
        <img src="https://www.pngall.com/wp-content/uploads/13/Mercedes-Logo-PNG-Images.png" alt="Logo Mercedes-Benz" class="img-fluid" style="max-width: 400px; margin: 20px 0;">
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-12 text-left">
            <h3 class="text-white">Benvenuti alla Concessionaria Mercedes AZE</h3>
            <p><strong>Chi Siamo</strong></p>
            <p>Siamo la Concessionaria Mercedes AZE, situata nel cuore di Cuneo. Con una lunga storia di eccellenza e innovazione, ci impegniamo a offrire ai nostri clienti un'esperienza di acquisto di auto di lusso senza pari. La nostra missione è fornire un servizio di qualità superiore e veicoli di alta gamma che rispecchiano il prestigio e l'eleganza del marchio Mercedes-Benz.</p>
            <p><strong>La Nostra Posizione</strong></p>
            <p>Ci troviamo in Via delle Ruote 777, un luogo facilmente accessibile e ben collegato. La nostra sede è moderna e accogliente, progettata per garantire il massimo comfort ai nostri clienti. Venite a trovarci per scoprire la nostra vasta gamma di modelli Mercedes-Benz, dai classici intramontabili alle ultime novità tecnologiche.</p>
            <p><strong>Cosa Offriamo</strong></p>
            <ul>
                <li>Vendita di Veicoli Nuovi</li>
                <li>Vendita di Veicoli Usati Certificati</li>
                <li>Servizio Clienti Eccellente</li>
            </ul>
            <p><strong>La Nostra Filosofia</strong></p>
            <p>Crediamo nell'eccellenza e nella qualità in tutto ciò che facciamo. La nostra filosofia è quella di costruire relazioni durature con i nostri clienti, basate su fiducia e trasparenza. Ogni visita alla Concessionaria Mercedes AZE è pensata per essere un'esperienza piacevole e gratificante.</p>
            <p><strong>Contattaci</strong></p>
            <p>Per ulteriori informazioni, non esitare a contattarci al 017149167 o via email a mercedes.aze@gmail.com.</p>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-6 d-flex flex-column align-items-center text-center">
            <h2>Showroom</h2>
            <p>Visita il nostro showroom virtuale per esplorare i migliori modelli della Mercedes.</p>
            <img src="https://www.mercedes-benz.it/content/dam/hq/passengercars/cars/s-class/s-class-saloon-wv223-pi/modeloverview/09-2022/images/mercedes-benz-s-class-wv223-modeloverview-696x392-09-2022.png" alt="Showroom Image" class="img-fluid mb-3 custom-img">
            <p class="mt-auto"><a class="btn btn-secondary" href="/Concessionarias/Showroom">Scopri di più &raquo;</a></p>
        </div>
        <div class="col-md-6 d-flex flex-column align-items-center text-center">
            <h2>Elenco dei Veicoli</h2>
            <p>Consulta l'elenco completo dei veicoli disponibili, incluse le occasioni speciali.</p>
            <img src="https://cdn.drivek.com/configurator-imgs/cars/it/800/MERCEDES/AMG-GT/43098_COUPE-3-DOORS/mercedes-benz-amg-gt.png" alt="Elenco dei Veicoli Image" class="img-fluid mb-3 custom-img">
            <p class="mt-auto"><a class="btn btn-secondary" href="/Concessionarias">Scopri di più &raquo;</a></p>
        </div>
    </div>
</div>
