@{
    ViewData["Title"] = "Privacy Policy";
}

<!DOCTYPE html>
<html>
<body>
    <div class="container">
        <h2>Informativa sulla Privacy</h2>
        <p>La presente Informativa sulla Privacy descrive come [Nome della Concessionaria] raccoglie, utilizza e protegge i dati personali dei visitatori del nostro sito web. Ci impegniamo a garantire la privacy e la sicurezza delle informazioni personali dei nostri utenti.</p>

        <h3>1. Raccolta dei Dati Personali</h3>
        <p>Raccogliamo dati personali quali nome, indirizzo email, numero di telefono e altre informazioni di contatto quando compilate moduli sul nostro sito, richiedete informazioni o servizi, o partecipate a promozioni.</p>

        <h3>2. Utilizzo dei Dati Personali</h3>
        <p>Utilizziamo i dati raccolti per:</p>
        <ul>
            <li>Fornire i servizi richiesti e rispondere alle vostre domande.</li>
            <li>Personalizzare la vostra esperienza sul nostro sito.</li>
            <li>Inviarvi comunicazioni promozionali e aggiornamenti sui nostri prodotti e servizi, se avete espresso il consenso a riceverli.</li>
            <li>Migliorare il nostro sito e i nostri servizi attraverso l’analisi dei dati.</li>
        </ul>

        <h3>3. Protezione dei Dati Personali</h3>
        <p>Adottiamo misure di sicurezza adeguate per proteggere i vostri dati personali da accessi non autorizzati, perdita o divulgazione. Utilizziamo tecnologie di crittografia e altre protezioni per garantire la sicurezza delle informazioni trasmesse online.</p>

        <h3>4. Condivisione dei Dati Personali</h3>
        <p>Non vendiamo, scambiamo o trasferiamo i vostri dati personali a terzi senza il vostro consenso, salvo quando necessario per fornire i servizi richiesti o richiesto dalla legge.</p>

        <h3>5. Diritti degli Interessati</h3>
        <p>Avete il diritto di accedere, rettificare, cancellare o limitare l'uso dei vostri dati personali. Potete esercitare questi diritti contattandoci direttamente tramite le informazioni di contatto fornite sul nostro sito.</p>

        <h3>6. Modifiche all’Informativa sulla Privacy</h3>
        <p>Ci riserviamo il diritto di aggiornare questa Informativa sulla Privacy in qualsiasi momento. Vi informeremo di eventuali modifiche pubblicando la nuova informativa sul nostro sito.</p>

        <h3>7. Contatti</h3>
        <p>Per domande o ulteriori informazioni sulla nostra Informativa sulla Privacy, vi preghiamo di contattarci all'indirizzo email [email della concessionaria] o al numero di telefono [numero di telefono della concessionaria].</p>

        <p>Data di efficacia: 2024</p>
        <p>
            Concessionaria Mercedes AZE<br>
            Via delle Ruote 777<br>
            017149167<br>
            mercedes.aze@gmail.com
        </p>
    </div>
</body>
</html>
