@{
    ViewData["Title"] = "Show Room";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <div class="container showroom-container">
        <div class="text-center">
            <h1 class="text-white">Show Room</h1>
        </div>

        <div class="row showroom-item">
            <div class="col-md-6">
                <img src="https://www.mercedes-benz.it/content/italy/it/passengercars/models/saloon/v177-fl-23-2/overview/_jcr_content/root/responsivegrid/media_slider/media_slider_item_1307172659/image.component.damq1.3385329734076.jpg/mercedes-benz-a-class-v177-teaser-exterior-3302x1858-03-2023.jpg" alt="Immagine 1">
            </div>
            <div class="col-md-6 showroom-text">
                <h2>Berline</h2>
                <p>Le berline Mercedes rappresentano l'apice dell'eleganza e delle prestazioni automobilistiche. Con un mix perfetto di lusso, tecnologia e comfort, queste vetture incarnano lo spirito dell'innovazione tedesca. Dai modelli entry-level ai flagships di lusso, ogni berlina Mercedes offre un'esperienza di guida superba e un design raffinato. Con motori potenti e una vasta gamma di opzioni personalizzabili, le berline Mercedes sono sinonimo di prestigio e stile nel mondo dell'automobilismo di lusso.</p>
            </div>
        </div>

        <div class="row showroom-item">
            <div class="col-md-6 order-md-2">
                <img src="https://www.merbag.ch/media/ttenvwoe/glc-coupe.jpg?mode=pad&quality=100&width=1032&preferFocalPoint=false&useCropDimensions=false&maxwidth=3840&maxheight=3840&format=webp&lazyload=true&lazyloadPixelated=true&c.focalPoint=0.5,0.5&c.finalmode=crop&c.zoom=false" alt="Immagine 2">
            </div>
            <div class="col-md-6 showroom-text order-md-1">
                <h2>SUV</h2>
                <p>I SUV Mercedes combinano l'avventura del fuoristrada con il lusso e la raffinatezza tipici del marchio. Con linee eleganti e dettagli distintivi, ogni SUV Mercedes offre un'esperienza di guida sicura e confortevole sia su strada che fuori. Dalle dimensioni compatte ai modelli più imponenti, la gamma di SUV Mercedes soddisfa le esigenze di ogni tipo di conducente. Dotati di tecnologie all'avanguardia e di interni lussuosi, gli SUV Mercedes rappresentano la scelta ideale per chi cerca prestazioni elevate e stile senza compromessi.</p>
            </div>
        </div>

        <div class="row showroom-item">
            <div class="col-md-6">
                <img src="https://netrinoimages.s3.eu-west-2.amazonaws.com/2005/05/06/1656/471917/mercedesbenz_amg_gt_coupe_2024_3d_model_c4d_max_obj_fbx_ma_lwo_3ds_3dm_stl_4836243.jpg" alt="Immagine 3">
            </div>
            <div class="col-md-6 showroom-text">
                <h2>Sportive</h2>
                <p>Le macchine sportive di Mercedes incarnano la potenza, la precisione e lo spirito della competizione. Con linee aerodinamiche e prestazioni straordinarie, ogni modello offre un'esperienza di guida adrenalinica e coinvolgente. Dai coupé alle roadster e alle supercar, la gamma sportiva di Mercedes è sinonimo di prestazioni di alto livello e design accattivante. Con motori potenti e tecnologie all'avanguardia, queste vetture sono progettate per gli appassionati di guida che cercano emozioni senza compromessi e prestazioni eccezionali su strada e pista.</p>
            </div>
        </div>

        <div class="row showroom-item">
            <div class="col-md-6 order-md-2">
                <img src="https://www.rossispa.it/NuovaClasseC/berlina-e-station-wagon/images/classe_c/slider/SW.jpg" alt="Immagine 2">
            </div>
            <div class="col-md-6 showroom-text order-md-1">
                <h2>Station Wagon</h2>
                <p>
                    Le station wagon Mercedes offrono una combinazione perfetta di spazio, comfort e tecnologia. Ideali per le famiglie e per chi necessita di ampio spazio di carico, queste auto sono dotate di interni raffinati e materiali di alta qualità. Le station wagon Mercedes vantano motori efficienti e prestazioni affidabili, oltre a numerosi sistemi di assistenza alla guida per garantire la massima sicurezza. Il design elegante e funzionale rende queste vetture adatte sia per la città che per i lunghi viaggi, unendo praticità e stile senza compromessi.
                </p>
            </div>
        </div>

        <div class="row showroom-item">
            <div class="col-md-6">
                <img src="https://www.mercedes-benz.it/content/dam/hq/passengercars/cars/cle/cle-coupe-c236-pi/modeloverview/06-2023/images/mercedes-benz-cle-coupe-c236-model-overview-696x392-06-2023.png" alt="Immagine 3">
            </div>
            <div class="col-md-6 showroom-text">
                <h2>Coupé</h2>
                <p>
                    Le coupé Mercedes sono auto eleganti e sportive, caratterizzate da linee slanciate e un design raffinato. Offrono prestazioni elevate grazie a motori potenti e tecnologie avanzate. Gli interni sono lussuosi, con materiali di alta qualità e dotazioni moderne. Le coupé Mercedes combinano comfort e dinamismo, rendendole ideali sia per la guida quotidiana che per i viaggi più lunghi. La sicurezza è una priorità, con numerosi sistemi di assistenza alla guida di serie. In sintesi, le coupé Mercedes rappresentano il perfetto equilibrio tra stile, prestazioni e innovazione.
                </p>
            </div>
        </div>

        <div class="row showroom-item">
            <div class="col-md-6 order-md-2">
                <img src="https://hd2.tudocdn.net/767911?w=1200&h=675" alt="Immagine 2">
            </div>
            <div class="col-md-6 showroom-text order-md-1">
                <h2>Monovolume</h2>
                <p>Le monovolume Mercedes sono progettate per offrire massimo spazio e versatilità, ideali per le famiglie numerose e per chi ha bisogno di trasportare molti passeggeri o carichi ingombranti. Con interni spaziosi e configurabili, queste vetture garantiscono comfort e praticità in ogni viaggio. Le monovolume Mercedes sono dotate di motori efficienti e tecnologie avanzate per migliorare l'esperienza di guida. La sicurezza è una priorità, con numerosi sistemi di assistenza alla guida di serie. In sintesi, le monovolume Mercedes uniscono funzionalità, comfort e sicurezza in un design elegante.</p>
            </div>
        </div>

        <div class="row showroom-item">
            <div class="col-md-6">
                <img src="https://www.mercedes-benz.ch/content/switzerland/it/passengercars/models/hatchback/w177-fl-24-1/amg/_jcr_content/root/responsivegrid/tabs_1091346276/tabitem/simple_teaser/simple_teaser_item_1071299285.component.damq2.3376366199315.jpg/mercedes-amg-a-class-w177-amg-equipment-exterior-aerodynamics-package-764x573-12-2022.jpg" alt="Immagine 3">
            </div>
            <div class="col-md-6 showroom-text">
                <h2>AMG</h2>
                <p>
                    Le Mercedes-AMG rappresentano il massimo della sportività e delle prestazioni. Con motori potenti e tecnologie all'avanguardia, queste vetture offrono un'esperienza di guida eccezionale. Il design aggressivo e aerodinamico esprime tutta la forza e il dinamismo della gamma AMG. Gli interni sono lussuosi e sportivi, con materiali di alta qualità e dettagli esclusivi. La sicurezza è garantita da avanzati sistemi di assistenza alla guida. In sintesi, le Mercedes-AMG combinano potenza, eleganza e innovazione, per chi cerca emozioni forti al volante senza rinunciare al comfort.
                </p>
            </div>
        </div>
    </div>
</body>
</html>
